$color-background: #cfd0d9;
$color-container: #f5f5f5;
$color-menu: #f9f9f9;
$input-text-color: #a3a3a3;
$color-menu-active: #151917;
$color-alert-info: #0676ed;
$color-alert-warning: #f2a600;
$color-alert-success: #12c99b;
$color-alert-danger: #e41749;
$color-background-login: #AFC7F5;
